footer
  .container
    .container__top
       a(href="#")
            img(src="../assets/img/logo.png")
    .container__bottom_copiright
      p Copyright © 2018 Toxin отель. Все права зачищены
    .conainer__bottom_social
      .container__bottom_social_twitter
      .container__bottom_social_facebook
      .container__bottom_social_instagram
