footer
  .container
    .container__top
      .container__top_block
        ul
          li.nav-link
          a(href="#")
            img(src="../assets/img/logo.png")
          +navLink("#","Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»")

      .container__top_block
        ul
          +navLink("#","Навигация")
          +navLink("#","О нас")
          +navLink("#","Новости")
          +navLink("#","Служба поддержки")
          +navLink("#","Услуги")

      .container__top_block
        ul
            +navLink("#","О нас")
            +navLink("#","О сервисе")
            +navLink("#","Наша команда")
            +navLink("#","Вакансии")
            +navLink("#","Инвесторы")

      .container__top_block
        ul
          +navLink("#","Служба поддержки")
          +navLink("#","Соглашения")
          +navLink("#","Сообщества")
          +navLink("#","Связь с нами")


      .container__top_block
        ul
          +navLink("#","Подписка")
          +navLink("#","Получайте специальные предложения и новости сервиса")
          +navLink("#","Вакансии")
    .container__bottom
      .container__bottom_left
        .container__bottom_copiright
          p Copyright © 2018 Toxin отель. Все права зачищены.
      .container__bottom_right
        .conainer__bottom_social
          .container__bottom_social_twitter
          .container__bottom_social_facebook
          .container__bottom_social_instagram

