footer
  .container
    .container__top
      .container__top_block
        ul
          li.nav-menu
            a(href="#")
              img(src="../assets/img/logo.png")
          li.nav-menu
            p.footer__text Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»

      .container__top_block
        ul
          li.nav-menu
            p.footer__text_bold Навигация
          li.nav-menu
            p.footer__text_normal О нас
          li.nav-menu
            p.footer__text_normal Новости
          li.nav-menu
            p.footer__text_normal Служба поддержки
          li.nav-menu
            p.footer__text_normal Услуги

      .container__top_block
        ul
          li.nav-menu
            p.footer__text_bold О нас
          li.nav-menu
            p.footer__text_normal О сервисе
          li.nav-menu
            p.footer__text_normal Наша команда
          li.nav-menu
            p.footer__text_normal Вакансии
          li.nav-menu
            p.footer__text_normal Инвесторы

      .container__top_block
        ul
          li.nav-menu
            p.footer__text_bold Служба поддержки
          li.nav-menu
            p.footer__text_normal Соглашения
          li.nav-menu
            p.footer__text_normal Сообщества
          li.nav-menu
            p.footer__text_normal Связь с нами


      .container__top_block
        ul
          li.nav-menu
            p.footer__text_bold Подписка
          li.nav-menu
            p.footer__text Получайте специальные предложения и новости сервиса
          li.nav-menu
            form
              input.form__email(type='email' name='send' placeholder='Email')
              span.email__button
                a.button(href="#")
                  .emai__button_arrow
                    span.arrow
                      div.arrow__stem
                      div.arrow__kick
                      div.checkmark_line

    hr
    .container__bottom
      .container__bottom_left
        .container__bottom_copiright
          p Copyright © 2018 Toxin отель. Все права зачищены.
      .container__bottom_right
        .conainer__bottom_social
          .container__bottom_social_twitter
          .container__bottom_social_facebook
          .container__bottom_social_instagram

