

header

  .header
    .nav.nav__position
      ul.nav__left
        li.nav-link
          a(href="#")
            img(src="../assets/img/logo.png")


      ul.nav__right
        +navLink("#","О нас")
        +navLink("#","Услуги")
        +navLink("#","Вакансии")
        +navLink("#","Новости")
        +navLink("#","Соглашение")
        +navLink("#","Войти")
        +navLink("#","Зарегистрироваться")

