

.container-colors
   .container-colors__left
      .colors
         .colors__left.colors__left_1
         .colors__right
            p Dark Shade 100%
            p #1F2041
      .colors
         .colors__left.colors__left_2
         .colors__right
            p Dark Shade 75%
            p #1F2041
      .colors
         .colors__left.colors__left_3
         .colors__right
            p Dark Shade 50%
            p #1F2041
      .colors
         .colors__left.colors__left_4
         .colors__right
            p Dark Shade 25%
            p #1F2041
      .colors
         .colors__left.colors__left_5
         .colors__right
            p Dark Shade 5%
            p #1F2041
      .colors
         .colors__left.colors__left_6
         .colors__right
            p Purple
            p #BC9CFF
      .colors
         .colors__left.colors__left_7
         .colors__right
            p Green
            p #6FCF97
   .container-colors__right
      .font

         .font__left
            p.header-1 H1
         .font__right
            p.font-1 This one is the sub-section or widget title
      .font
         .font__left
            p.header-2 H2
         .font__right
            p.font-2 Next one is the item title inside widgets
      .font
         .font__left
            p.header-3 H3
         .font__right
            p.font-3 This is a label or CTA text
      .font
         .font__left
            p.header-4 body
         .font__right
            p.font-4 This is the body text which is used for most of the design, like paragraphs, lists, etc.
