

.container-colors
   .container-colors__left
      .colors
         .colors__left.colors__left_1
         .colors__right
      .colors
         .colors__left.colors__left_2
         .colors__right
      .colors
         .colors__left.colors__left_3
         .colors__right
      .colors
         .colors__left.colors__left_4
         .colors__right
      .colors
         .colors__left.colors__left_5
         .colors__right
      .colors
         .colors__left.colors__left_6
         .colors__right
      .colors
         .colors__left.colors__left_7
         .colors__right
   .container-colors__right
      .font
         .font__left
         .font__right
      .font
         .font__left
         .font__right
      .font
         .font__left
         .font__right
      .font
         .font__left
         .font__right
