.form-element-top
   .form-element-top__left
      form.form-top__left
         label(for='fname')
            .label__left Text field
            .label__right default

         input#fname(type='email' name='email' placeholder="Email")

         label(for='lname')
            .label__left Text field
            .label__right hover/focus

         input#lname(type='text' name='lname' placeholder = "This is pretty awesome")

   .form-element-top__middle
   .form-element-top__right


.form-element-middle
.form-element-right
